<?js
    var names = obj.type.names;
    if (names?.length == 1 && names[0] == "Object" && obj.type.parsedType?.fields?.length) {
        names = [this.stringifyType(obj.type.parsedType)];
    }
?>
<table class="params">
    <thead>
    <tr>
        <th>Type</th>
        <th class="last">Description</th>
    </tr>
    </thead>

    <tbody>
        <tr>
            <td class="type">
                <?js if (names?.length) {?>
                <?js= this.partial('type.tmpl', names) ?>
                <?js } ?>
            </td>
            <td class="description last">
                <?js if (obj.description) {?>
                <?js= obj.description ?>
                <?js } ?>
            </td>
        </tr>
    </tbody>
</table>
